body{
    height: 100%;
    width: 100%;
    padding: 0%;
}
nav{
    display: flex;
    background: #e2da4d;
}
nav li{
    list-style: none;
    padding: 0 23px;
}
.yellow{
    background-color: yellow;
    color: rgb(1, 1, 1);
}
.red{
    background-color: red;
    color: white;
}